<div class="authenticate">
    <div class="container">
        <div fxLayout fxLayoutAlign="center">
            <div fxFlex="400px">
                <div class="form-auth">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/images/logo.png" alt="Logo" class="img-fluid"/>
                        </a>
                    </div>
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>