.authenticate {
  margin-top: 50px;
}
.form-auth {
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
  .logo {
    width: 64px;
    margin: 0 auto 10px;
  }
}
.heading {
  text-align: center;
  margin-bottom: 30px;
  h1 {
    font-size: 18px;
    font-weight: 500;
  }
}
.login-form-button {
  width: 100%;
}
.login-form-margin {
  margin-bottom: 16px;
}